:root {
    --main-bg-color: #E6FFFF;
    --white: #ffffff;
    --main-blue: #0000E9;
    --lime: #DFFF00;
    --lavender: #E7D5FF;
    --menu-margin: 16px;
    --border2: 1.5px solid var(--main-blue);
  }





@font-face {
    font-family: 'Neue Machina Regular';
    src: url('../assets/fonts/PPNeueMachina-InktrapRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina Bold';
    src: url('../assets/fonts/PPNeueMachina-InktrapBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

html {
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-blue);

    font-family: "Neue Machina Regular";
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin: 0px;
}

sup {
    line-height: 0; /* Prevent superscript from affecting line height */
}

a {
    color: var(--main-blue);
}

#logo {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 12px;
    border: var(--border2);
    background: var(--lime);
    z-index: 20;
}

#logo img {
    width: 12px;
}

#berggruen-logo {
    position: fixed;
    top: calc(2 * var(--menu-margin));
    right: var(--menu-margin);
    z-index: 100;
}

p {
    font-size: 22px;
    line-height: 125%;
}

#scrollContainer {
    height: 200lvh;
    width: 100vw;
}

#scrollMeasure {
    position: sticky;
    top: 0;
}

#myCanvasContainer {
    position: sticky;
    top: 0px;
    left: 0px;
}

#sliderContainer {
    display: flex;
    align-items: end;
    padding: 10px;
}

#sliderLabels {
    text-align: right;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4px 0 4px 0;
}

#mySlider {
    writing-mode: bt-lr; /* IE */
    /* -webkit-appearance: slider-vertical; */
    writing-mode: vertical-lr;
    width: 8px;
    height: 262px;
    /* margin: 10px; */
}

input[type="range"] {
    -webkit-appearance: none;
   }
   
input[type="range"]:focus {
    outline: none !important;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: var(--main-blue);
    width: 2px;
}

input[type="range"]::-moz-range-track {
    -webkit-appearance: none;
    background: var(--main-blue);
    width: 2px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: var(--main-blue);
    margin-left: -9px;
    border-radius: 50%;
}
   
input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: pink;
    margin-top: -5px;
    border-radius: 50%;
}

#spaceControls {
    position: absolute;
    bottom: var(--menu-margin);
    right: var(--menu-margin);
    background: var(--white);
    border: var(--border2);
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
    font-size: 18px;
}

#spaceControls h4, #menu h4 {
    /* width: calc(100% - 10px); */
    padding: 10px;
    margin: 0px;
    border-bottom: var(--border2);
    font-weight: normal;
    text-transform: uppercase;
    box-sizing: border-box;
}

#spaceControls h4 {
    text-align: right;
}

.planetMarker, .menuPlanetDot {
    border: var(--border2);
    border-radius: 50%;
    background-color: var(--lime);
    z-index: 9;
    height: 20px;
    width: 20px;
    flex-shrink: 0;
}

.planetMarker:hover {
    background: #87FB4D;
}

.planetMarker {
    transform: translate(-50%, -50%);
    display: none;
    position: absolute;
}

.planetDescription {
    display: none;
    min-height: 10px;
    /* width: 20vw; */
    min-width: 20px;
    max-width: 300px;
    background: var(--lime);
    border: var(--border2);
    position: fixed;
    padding: 15px;
    z-index: 10;
}

.planetMarker:hover + .planetDescription {
    display: block;
}

#randomPlanetDescription {
    background: var(--lavender);
}



#domElements {
    height: 100lvh;
    width: 100vw;
    position: absolute;
    opacity: 0;
    /* top: 0px;
    left: 0px; */
}

#menu {
    position: fixed;
    bottom: var(--menu-margin);
    left: var(--menu-margin);
    background: var(--white);
    border: var(--border2);
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
    width: 230px;
    font-size: 18px;
}

.menuLink {
    display: flex;
    gap: 10px;
    cursor:pointer;
    min-height: 34px;

}

#planets-menu {
    padding: 10px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 1000;
}

.hovered {
    background: #87FB4D;
}





#home-hero {
    width: 100vw;
    height: 100dvh;
    background-color: var(--main-blue);
    color: var(--main-bg-color);
    padding: 2rem 6rem;
    box-sizing: border-box;
    border-bottom: 1px solid #E6FFFF;
}

#home-hero > h4 {
    font-weight: normal;
}

#home-hero > h1 {
    font-family: "Neue Machina Bold";
    font-weight: bold;
    font-size: 4rem;
    line-height: 100%;
    text-transform: uppercase;
    margin: 0px;
}

#home-hero > p {
    font-size: 4rem;
    margin-top: 0px;
    line-height: 100%;
}






#article-outline {
    border: var(--border2);
    position: fixed;
    height: calc(100lvh - 40px - 40px);
    pointer-events: none;
    z-index: 3;
}

#top-mask {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 40px;
    background-color: var(--main-bg-color);
    z-index: 2;
}

#btm-mask {
    position: fixed;
    top: calc(100lvh - 38px);
    left: 0px;
    width: 100vw;
    height: 38px;
    background-color: var(--main-bg-color);
    z-index: 2;
}

hr {
    border-top: var(--border2);
    width: 30%;
    margin-left: 0px;
    margin-right: auto;
}

h1.article-title {
    font-weight: 400;
    font-size: 48px;
    margin-top: 10rem;
}

h2.article-author {
    margin-bottom: 30lvh;
    font-weight: 400;
    text-decoration: underline;
    font-size: 1rem;
}

img.basic-image {
    width: 40vw;
}

#cloud-holder-container {
    position: fixed;
    top: 0px;
    right: 0px;
    pointer-events: none;
}

#cloud-holder {
   position: relative;
   width: 50vw;
   height: 100vh;
   margin-bottom: 50lvh;
   overflow-y: scroll;
   overflow-x: hidden;
}

.axiom {
    border-left: var(--border2);
    padding-left: 10px;
    margin: 3rem 0 3rem 0;
}


#article-container > h2 {
    margin-top: 4rem;
}



.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: var(--lavender); /* Light purple background */
    padding: 20px;
    /* border-radius: 10px; */
    width: 60%;
    max-width: 600px;
    border: var(--border2);
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.fixed-image {
    position: fixed;
    width: 27vw;
    height: auto;
    right: 6vw;
    top: 32vh;
    z-index: 20;
}







.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    color: var(--main-blue); /* Blue color for text */
    z-index: 1000;
}

.footer-column {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.footer-column p {
    margin: 5px 0;
}

.footer-column a {
    color: #0000FF; /* Ensure link is blue */
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-column img {
    max-width: 50px; /* Adjust as needed */
    height: auto;
}






#dropdown-container {
    margin-top: 5rem;
}

.dropdown-subcontainer {
    border-top: var(--border2);
    border-bottom: var(--border2);
    margin-bottom: 3rem;
}

.dropbtn {
    padding: 16px;
    padding-left: 60px;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-family: inherit;
    background: none;
    color: var(--main-blue);
    position: relative;
    z-index: 0;
}

.dropdown-content {
    display: none;
    padding: 16px;
    border-top: none;
}

.dropdown-content ol {
    padding-left: 20px;
}

.dropdown-content ol li {
    margin-bottom: 10px;
}

.caret {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    /* transition: transform 0.3s ease; */
}

.open .caret {
    transform: translateY(-50%);
}




.citlalli-image  {
    background-image: url('/images/citlalli/Master_Final_2.gif');
    background-repeat: repeat-y;
    width: 400px; /* Set the desired width of the image column */
    height: 100vh; /* Full height of the viewport */
    position: absolute;
    top: 0px;
    right: calc(20vw - 200px);
    background-size: 400px;
    z-index: 10;
}

.citlalli-bottom-img {
    width: 50%;
    height: auto;
}

.citlalli-side-img {
    width: 170px;
    position: static;
    left: 80px;
    height: auto;
}





@media only screen and (min-width: 601px) {

    
    #article-container {
        margin-top: 80px;
        margin-left: 265px;
        padding-bottom: 25lvh;
        margin-bottom: 15lvh;
        width: 48%;
    }

    #article-outline {
        top: 40px;
        left: 65px;
        width: 80vw;
        height: calc(100lvh - 40px - 40px);
    }


}



@media only screen and (max-width: 600px) {

    :root {
        font-size: 12px;
    }

    #spaceControls {
        background: none;
        border: none;
    }

    #sliderLabels, #spaceControls h4 {
        display: none;
    }

    #planets-menu {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #article-container {
        margin: 20px, 10px, 200px, 10px;
        margin-top: 100px;
        margin-left: 48px;
        margin-right: 32px;
        margin-bottom: 400px;
    }

    #article-outline {
        display: none;
        /* top: 40px;
        left: 18px;
        right: 10px;
        bottom: 40px; */
    }

    #top-mask, #bottom-mask {
        display: none;
    }

    p {
        font-size: 16px;
    }
}


@media only screen and (max-width: 1000px) {

    .fixed-image {
        position: static;
        width: 100%;
    }


}


@media only screen and (min-width: 600px) and (max-width: 1200px) {
    :root {
        font-size: 18px;
    }
}



@media only screen and (min-width: 1201px) {
    :root {
        font-size: 24px;
    }
}
