<footer class="footer">
    <div class="footer-column">
        <p>Creator & Editor<br><a href="https://berggruen.org/people/claire-webb" target="_blank">Claire Isabel Webb</a></p>
        <p>Editor<br><a href="https://berggruen.org/people/lois-rosson" target="_blank">Lois Rosson</a></p>
        <p>Managing Editor<br><a href="https://berggruen.org/people/uly-yarber" target="_blank">Ulysses Yarber</a></p>
        <p>Design & Art Direction<br><a href="https://www.publicofficial.co/" target="_blank">Public/Official</a></p>
       <p>Design Consultation & Web Development<br><a href="https://www.cotton.design/" target="_blank">Cotton Design</a></p>
    </div>
    <div class="footer-column">
        <p>All rights reserved. No part of this website may be reproduced, stored in a retrieval system, or transmitted, in any form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without the written permission of the Berggruen Institute.</p>
        <p>© 2024 Berggruen Institute</p>
    </div>
    <div class="footer-column">
        <p>Berggruen Institute<br>
        304 S. Broadway, Suite 500<br>
        Los Angeles, CA 90013<br>
        <a href="http://www.berggruen.org">www.berggruen.org</a></p>
    </div>
    <div class="footer-column">
        <img id="footer-logo" src="/assets/logos/future-humans-berg-logo.svg" alt="Berggruen Institute Logo">
    </div>
</footer>


<script>
    
    function footerScoot() {
    const footer = document.querySelector('footer');
    const topMask = document.getElementById('top-mask');
    const leftMask = document.getElementById('left-mask');
    const rightMask = document.getElementById('right-mask');
    const bottomMask = document.getElementById('btm-mask');
    const menu = document.getElementById('menu');
    const mobileMenu = document.getElementById('hamburger-container');
    const articleOutline = document.getElementById('article-outline');

    if (footer) {
        const footerRect = footer.getBoundingClientRect();
        const windowHeight = window.innerHeight;
        const offset = windowHeight - footerRect.top;

        if (offset > 0) {
            const elements = [topMask, leftMask, rightMask, bottomMask, menu, mobileMenu, articleOutline];
            elements.forEach(element => {
                if (element) {
                    element.style.transform = `translateY(-${offset}px)`;
                }
            });
        } else {
            const elements = [topMask, leftMask, rightMask, bottomMask, menu, mobileMenu, articleOutline];
            elements.forEach(element => {
                if (element) {
                    element.style.transform = 'translateY(0)';
                }
            });
        }
    }
}

    window.addEventListener('scroll', footerScoot)

</script>