---
layout: post
---


{{ content }}

<style>
    .bluePlanetImg {
        max-width: 70vw;
        max-height: 50vh;
        z-index: 50;
    }

    @media screen and (min-width: 1200px) {
        #gas {
            width: 17vw;
        }
        #mol {
            width: 15vw;
        }
        #lumps {
            width: 5vw;
            z-index: 51;
        }
        #bumps {
            width: 11vw;
            z-index: 51;
        }
    }
</style>


<script>
    function easeInOutCubic(t) {
        return t < 0.5 ? 4 * t * t * t : 1 - Math.pow(-2 * t + 2, 3) / 2;
    }

    function handleScroll(images) {
        const viewportHeight = window.innerHeight;
        const scrollY = window.scrollY;

        images.forEach(({ img, start, end, right, height }) => {
            const imgHeight = img.clientHeight;
            const imgStart = start * document.body.scrollHeight;
            const imgEnd = end * document.body.scrollHeight;
            let heightStop = height || 1;

            const progress = (scrollY + viewportHeight - imgStart) / (imgEnd - imgStart);
            const easedProgress = Math.min(easeInOutCubic(progress), 1) * heightStop;
            let top = (viewportHeight + imgHeight) * ((1 - easedProgress)) - imgHeight;

            img.style.position = 'fixed';
            img.style.top = `${top}px`;
            img.style.right = `${right * 100 * .8}vw`; // .8 is a hack to prevent overlap with text
        });
    }

    document.addEventListener('DOMContentLoaded', () => {
        let gas = {
            img: document.getElementById("gas"),
            start: 0.1,
            end: 0.6,
            right: 0.1,
            height: 1.02
        };
        let bumps = {
            img: document.getElementById("bumps"),
            start: 0.2,
            end: 0.8,
            right: 0.2,
            height: 1.02
        };
        let lumps = {
            img: document.getElementById("lumps"),
            start: 0.4,
            end: 0.7,
            right: 0.05,
            height: 1.02
        };
        let mol = {
            img: document.getElementById("mol"),
            start: 0.43,
            end: 0.9,
            right: 0.15,
            height: 1.02
        };
        let imgs = [gas, bumps, lumps, mol];

        // Call handleScroll function once on page load if window width > 1200px
        if (window.innerWidth > 1200) {
            handleScroll(imgs);
        }

        // Attach scroll event listener for continuous scrolling behavior
        window.addEventListener('scroll', () => {
            if (window.innerWidth > 1200) {
                handleScroll(imgs);
            }
        });
    });
</script>