{%- include head.html -%}
{%- include article-count.html -%}

{% if page.url == "/" %}
<div id="logo"><img src='{{ "/assets/logo.svg" | relative_url }}'></div>
{% else %}
<a href='{{ "index.html" | relative_url }}'>
    <div id="logo"><img src='{{ "/assets/logo.svg" | relative_url }}'></div>
</a>
{% endif %}


{% if page.url == "/" %}
<img id="berggruen-logo" src='{{ "/assets/logos/berggruen.svg" | relative_url }}'>
{% else %}
<img id="berggruen-logo" src='{{ "/assets/logos/berggruen-dark.svg" | relative_url }}'>
{% endif %}


{{ content }}

</html>