{%- include head.html -%}
{%- include article-count.html -%}

{% if page.url == "/" %}
<div id="logo"><img src='{{ "/assets/logo.svg" | relative_url }}'></div>
{% else %}
<a href='{{ "index.html" | relative_url }}'>
    <div id="logo"><img src='{{ "/assets/logo.svg" | relative_url }}'></div>
</a>
{% endif %}

{% if page.url == "/" %}
    <a href='{{ "/info" | relative_url }}'>
        <img id="berggruen-logo" src='{{ "/assets/logos/berggruen.svg" | relative_url }}'>
    </a>
    <div id="hamburger-container">
        <svg id="mobile-hamburger" viewBox="0 0 100 58">
            <rect width="100" height="7"></rect>
            <rect y="25" width="100" height="7"></rect>
            <rect y="50" width="100" height="7"></rect>
        </svg>
    </div>

{% else %}
    <a href='{{ "/info" | relative_url }}'>
        <img id="berggruen-logo" src='{{ "/assets/logos/berggruen-dark.svg" | relative_url }}'>
    </a>
    <div id="hamburger-container" >
        <svg id="mobile-hamburger" fill="#0000E9" viewBox="0 0 100 58">
            <rect width="100" height="7"></rect>
            <rect y="25" width="100" height="7"></rect>
            <rect y="50" width="100" height="7"></rect>
        </svg>
    </div>
{% endif %}



{{ content }}

</html>