---
layout: post
---


{{ content }}

<style>

    #book {
        position: fixed;
        z-index: 50;
        /* position: relative; */
        /* pointer-events: none; */
        /* transition: 1s ease; */
    }

    .page {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transform-origin: left;
        transition: transform .6s ease, opacity .2s ease;
    }

    /* #page24 {
        transition: 2s ease;
    } */

    #page25.hideSecret {
        transform: translateY(-200vh) rotate(20deg);
        opacity: 1;
    }

    #page25 {
        transition: 2s ease;
    }

    .base-page {
        z-index: 0;
    }

    .page img {
        width: 100%;
        height: 100%;
    }


    #controls {
        position: absolute;
        z-index: 75;
        gap: 0px;
        display: flex;
    }

    #controls > button {
        border-radius: 0px;
        border: var(--border2);
        background-color: var(--main-bg-color);
        font-family: inherit;
        color: var(--main-blue);
        /* padding: .5rem 1rem; */
        padding: .5rem;
        margin-right: 0rem;
        stroke: var(--main-blue);
        cursor: pointer;
    }

    #controls > button > svg {
        stroke: var(--main-blue);
    }

    #unHideButton {
        margin: 0px;
            border: none;
            background: none;
            font-family: inherit;
            cursor: pointer;
            color: var(--main-blue);
            /* text-decoration: underline; */
            color: white;

            polyline{
                stroke:white;
                
            }
    }


    @media screen and (min-width: 1401px) {
        #book {
            top: 85px;
            right: 2vw;
            width: 25vw;
            height: calc(1.18 * 25vw);
        }    
        #unHideButton {
            display: none;
        }

        #controls {
            bottom: -50px;
            left: 0vw;
        }

    }


    @media screen and (min-width: 601px) and (max-width: 1400px) {
        #book {
            padding: 13px;
            width: calc(70% - 26px);
            /* top: none; */
            top: 170px;
            /* bottom: 75px; */
            right: 4vw;
            height: calc(1.18 * 70vw);
            box-sizing: border-box;
        }

        .hidden1 {
            transform: translateX(-93.5vw);
        }

        #unHideButton {
            transform: rotate(-90deg);
            transform-origin: bottom right;
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: 55;
            font-size: 1rem;
            padding-right: 5%;
        }

        #controls {
            top: -40px;
            right: 6vw;
        }
    }


    @media screen and (max-width: 600px) {
        #book {
            padding: 20px;
            width: calc(100% - 40px);
            top: none;
            bottom: 75px;
            left: 0px;
            height: calc(1.18 * 100vw);
            box-sizing: border-box;
        }
        
        .hidden1 {
            transform: translateX(calc(-85vw - 15px));
        }

        #unHideButton {
            transform: rotate(-90deg);
            transform-origin: bottom right;
            position: absolute;
            top: 0px;
            right: calc(1% - 18px);
            /* right: -9px; */
            z-index: 55;
            font-size: 1rem;
            padding-right: 8%;
        }

        #controls {
            top: -25px;
            right: 6vw;
        }

    }
</style>

<!-- <div id="folder">
    <img class="base" src="/images/empire/Dossier_23.png">
</div> -->

<div id="book" class="hidden1">

    <div id="controls">
        <button id="prevPage">
            <svg width="18" height="18"  viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <polyline stroke="#0000E9" points="12,1 0,12 12,23" stroke="black" stroke-width="2" fill="none"/>
            </svg>
        </button>
        <button id="nextPage" style="border-left: none;">
            <svg width="18" height="18" viewBox="-1 0 12 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <polyline stroke="#0000E9" points="0,1 12,12 0,23" stroke="black" stroke-width="2" fill="none"/>
            </svg>
        </button>
    </div>
    <button id="unHideButton">
        Dossier
        <svg width="12" height="12" style="transform: rotate(-90deg); padding-top: .5rem; padding-right: 1rem;"  viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <polyline stroke="#0000E9" points="12,1 0,12 12,23" stroke="black" stroke-width="3" fill="none"/>
        </svg>
    </button>

    <div class="page" id="page1"> <img src="/images/empire/Dossier_00.png" alt="Page 1"></div>
    <div class="page" id="page2"> <img src="/images/empire/Dossier_01.png" alt="Page 2"></div>
    <div class="page" id="page3"> <img src="/images/empire/Dossier_02.png" alt="Page 3"></div>
    <div class="page" id="page4"> <img src="/images/empire/Dossier_03.png" alt="Page 4"></div>
    <div class="page" id="page5"> <img src="/images/empire/Dossier_04.png" alt="Page 5"></div>
    <div class="page" id="page6"> <img src="/images/empire/Dossier_05.png" alt="Page 6"></div>
    <div class="page" id="page7"> <img src="/images/empire/Dossier_06.png" alt="Page 7"></div>
    <div class="page" id="page8"> <img src="/images/empire/Dossier_07.png" alt="Page 8"></div>
    <div class="page" id="page9"> <img src="/images/empire/Dossier_08.png" alt="Page 9"></div>
    <div class="page" id="page10"><img src="/images/empire/Dossier_09.png" alt="Page 10"></div>
    <div class="page" id="page11"><img src="/images/empire/Dossier_10.png" alt="Page 11"></div>
    <div class="page" id="page12"><img src="/images/empire/Dossier_11.png" alt="Page 12"></div>
    <div class="page" id="page13"><img src="/images/empire/Dossier_12.png" alt="Page 13"></div>
    <div class="page" id="page14"><img src="/images/empire/Dossier_13.png" alt="Page 14"></div>
    <div class="page" id="page15"><img src="/images/empire/Dossier_14.png" alt="Page 15"></div>
    <div class="page" id="page16"><img src="/images/empire/Dossier_15.png" alt="Page 16"></div>
    <div class="page" id="page17"><img src="/images/empire/Dossier_16.png" alt="Page 17"></div>
    <div class="page" id="page18"><img src="/images/empire/Dossier_17.png" alt="Page 18"></div>
    <div class="page" id="page19"><img src="/images/empire/Dossier_18.png" alt="Page 19"></div>
    <div class="page" id="page20"><img src="/images/empire/Dossier_19.png" alt="Page 20"></div>
    <div class="page" id="page21"><img src="/images/empire/Dossier_20.png" alt="Page 21"></div>
    <div class="page" id="page22"><img src="/images/empire/Dossier_21.png" alt="Page 22"></div>
    <div class="page" id="page23"><img src="/images/empire/Dossier_22.png" alt="Page 23"></div>
    <div class="page" id="page24"><img src="/images/empire/Dossier_23.png" alt="Page 24"></div>
    <div class="page hideSecret" id="page25" ><img src="/images/empire/Dossier_24.png" alt="Page 25"></div>
</div>







<script>

let currentPage = 1;
const pages = document.querySelectorAll('.page');
const totalPages = pages.length;
let book = document.getElementById("book")

document.getElementById('nextPage').addEventListener('click', () => {
    if (currentPage < totalPages) {
        turnPage(currentPage, currentPage + 1);
        currentPage++;
    }
});

document.getElementById('prevPage').addEventListener('click', () => {
    if (currentPage > 1) {
        turnPage(currentPage, currentPage - 1);
        currentPage--;
    }
});

document.getElementById('unHideButton').addEventListener('click', () => {
    book.classList.toggle("hidden1")
});

function turnPage(from, to) {
    console.log("from:",from,"  to:",to)
    const current = document.getElementById(`page${from}`);
    const next = document.getElementById(`page${to}`);
    console.log(next)

    if(from < to) {
        let randX = Math.random()*-20 - 100
        let randR = Math.random()*30 - 15
        // current.classList.add('flipped');
        current.style.transform = `rotate(${randR}deg) translateX(${randX}%)`;
        setTimeout(function(){        
            current.style.opacity = 0;
        }, 200)
    } else {
        // next.classList.remove('flipped');
        next.style.transform = "translateX(0vw) rotate(0deg)";
        next.style.opacity = 1;
    }
    if(from > 9) {
        document.getElementById("page25").classList.remove("hideSecret")
        console.log("yes")
    }
}

// Set z-index values dynamically
pages.forEach((page, index) => {
    page.style.zIndex = 40-index;
});

// book.addEventListener('click', () => {
//     if (currentPage < totalPages) {
//         console.log("yes")
//         turnPage(currentPage, currentPage + 1);
//         currentPage++;
//     }
// });


</script>