---
layout: post
---


{{ content }}

<style>

    #book {
        position: fixed;
        z-index: 50;
        /* position: relative; */
        /* pointer-events: none; */
        /* transition: 1s ease; */
        transition: transform 500ms ease;
    }

    .page {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transform-origin: left;
        transition: transform .6s ease, opacity .2s ease;
    }

    #page25 {
        transition: 1s ease;
    }

    #page25.revealSecret {
        transform: translateX(10vh) rotate(20deg);
        opacity: 1;
    }

    .base-page {
        z-index: 0;
    }

    .page img {
        width: 100%;
        height: 100%;
    }


    #controls {
        position: absolute;
        z-index: 75;
        gap: 0px;
        display: flex;
    }

    #controls > button {
        border-radius: 0px;
        /* border: var(--border2); */
        border: 1.5px solid var(--main-bg-color);
        /* background-color: var(--main-bg-color); */
        background-color: var(--main-blue);
        font-family: inherit;
        color: var(--main-blue);
        /* padding: .5rem 1rem; */
        padding: .5rem;
        padding-bottom: .43rem;
        margin-right: 0rem;
        cursor: pointer;
    }

    #controls > button > svg > polyline {
        stroke: var(--main-bg-color);
    }

    #unHideButton {
        margin: 0px;
            border: none;
            background: none;
            font-family: inherit;
            cursor: pointer;
            color: var(--main-blue);
            /* text-decoration: underline; */
            color: white;

            polyline{
                stroke:white;
                
            }
    }





    @media screen and (min-width: 1401px) {
        #book {
            top: 85px;
            right: 2vw;
            width: 25vw;
            height: calc(1.18 * 25vw);
        }    
        #unHideButton {
            display: none;
        }

        #controls {
            bottom: -50px;
            left: 0vw;
        }

        .expanded {
            transform: scale(1.5);
            transform-origin: top right;
        }


    }


    @media screen and (min-width: 1001px) and (max-width: 1400px) {
        .hidden1 {
            /* transform: translate(-93.5vw, 150px); */
        }

        .expanded {
            transform: scale(2);
            transform-origin: top right;
            
        }
        #book {
            top: 85px;
            right: 2vw;
            width: 19vw;
            height: calc(1.18 * 19vw);
        }
        #unHideButton {
            display: none;
        }

        #controls {
            bottom: -50px;
            left: 0vw;
            transition: 500ms ease;
        }
        .expanded > #controls {
            transform-origin: top left;
            transform: scale(.6);
        }
    }

    @media screen and (min-width: 601px) and (max-width: 1000px) {
        .hidden1 {
            transform: translate(-93.5vw, 150px);
        }
        #book {
            padding: 13px;
            width: calc(70% - 26px);
            /* top: none; */
            top: 170px;
            /* bottom: 75px; */
            right: 4vw;
            height: calc(1.18 * 70vw);
            box-sizing: border-box;
        }
        #expand {
            display: none;
        }
        #controls {
            top: -40px;
            right: 6vw;
        }
    }


    @media screen and (min-width: 601px) and (max-width: 1400px) {
        .hidden1 #page2,
    .hidden1 #page3,
    .hidden1 #page4,
    .hidden1 #page5,
    .hidden1 #page6,
    .hidden1 #page7,
    .hidden1 #page8,
    .hidden1 #page9,
    .hidden1 #page10,
    .hidden1 #page11,
    .hidden1 #page12,
    .hidden1 #page13,
    .hidden1 #page14,
    .hidden1 #page15,
    .hidden1 #page16,
    .hidden1 #page17,
    .hidden1 #page18,
    .hidden1 #page19,
    .hidden1 #page20,
    .hidden1 #page21,
    .hidden1 #page22 {
        display: none;
    }





        #unHideButton {
            transform: rotate(-90deg);
            transform-origin: bottom right;
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: 55;
            font-size: 1rem;
            padding-right: 5%;
        }

    }


    @media screen and (max-width: 600px) {

        .hidden1 #page2,
    .hidden1 #page3,
    .hidden1 #page4,
    .hidden1 #page5,
    .hidden1 #page6,
    .hidden1 #page7,
    .hidden1 #page8,
    .hidden1 #page9,
    .hidden1 #page10,
    .hidden1 #page11,
    .hidden1 #page12,
    .hidden1 #page13,
    .hidden1 #page14,
    .hidden1 #page15,
    .hidden1 #page16,
    .hidden1 #page17,
    .hidden1 #page18,
    .hidden1 #page19,
    .hidden1 #page20,
    .hidden1 #page21,
    .hidden1 #page22 {
        display: none;
    }
        #book {
            padding: 20px;
            width: calc(100% - 40px);
            top: none;
            top: 170px;
            left: 0px;
            height: calc(1.18 * 100vw);
            box-sizing: border-box;
        }
        
        .hidden1 {
            transform: translate(-123%, 150px) scale(1.5);
            /* bottom: auto; */
        }

        #unHideButton {
            transform: rotate(-90deg);
            transform-origin: bottom right;
            position: absolute;
            top: 0px;
            right: calc(1% - 18px);
            /* right: -9px; */
            z-index: 55;
            font-size: 1rem;
            padding-right: 8%;
        }

        #controls {
            top: -35px;
            right: 1.5vw;
        }

        #controls > button > svg {
            width: 40px;
            height: 20px;
        }
        #expand {
            display: none;
        }

    }
</style>

<!-- <div id="folder">
    <img class="base" src="/images/empire/Dossier_23.png">
</div> -->

<div id="book" class="hidden1">

    <div id="controls">
        <button id="prevPage">
            <svg width="18" height="18"  viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <polyline stroke="#E6FFFF" points="12,1 0,12 12,23" stroke="black" stroke-width="2" fill="none"/>
            </svg>
        </button>
        <button id="nextPage" style="border-left: none;">
            <svg width="18" height="18" viewBox="-1 0 12 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <polyline stroke="#E6FFFF" points="0,1 12,12 0,23" stroke="black" stroke-width="2" fill="none"/>
            </svg>
        </button>
        <button id="expand" style="border-left: none;">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.1247 2.45746L8.9939 8.99403L16.1247 15.5306" stroke="#E6FFFF" stroke-width="1.5" stroke-linecap="round"/>
                <path d="M1.8631 15.5306L8.9939 8.99401L1.8631 2.45744" stroke="#E6FFFF" stroke-width="1.5" stroke-linecap="round"/>
                <path d="M16.8986 6.55285L17.1208 1.44183L12.0098 1.66405" stroke="#E6FFFF" stroke-width="1.5"/>
                <path d="M6.0288 1.66405L0.917782 1.44184L1.14 6.55286" stroke="#E6FFFF" stroke-width="1.5"/>
                <path d="M1.14001 11.4847L0.917788 16.5957L6.02881 16.3735" stroke="#E6FFFF" stroke-width="1.5"/>
                <path d="M12.0098 16.3736L17.1208 16.5958L16.8986 11.4848" stroke="#E6FFFF" stroke-width="1.5"/>
            </svg>
        </button>
    </div>
    <button id="unHideButton">
        Dossier
        <svg width="12" height="12" style="transform: rotate(-90deg); padding-top: .5rem; padding-right: 1rem;"  viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <polyline stroke="#0000E9" points="12,1 0,12 12,23" stroke="black" stroke-width="3" fill="none"/>
        </svg>
    </button>

    <div class="page" id="page1"> <img src="/images/empire-compressed/Dossier_00.webp" alt="Page 1"></div>
    <div class="page" id="page2"> <img src="/images/empire-compressed/Dossier_01.webp" alt="Page 2"></div>
    <div class="page" id="page3"> <img src="/images/empire-compressed/Dossier_02.webp" alt="Page 3"></div>
    <div class="page" id="page4"> <img src="/images/empire-compressed/Dossier_03.webp" alt="Page 4"></div>
    <div class="page" id="page5"> <img src="/images/empire-compressed/Dossier_04.webp" alt="Page 5"></div>
    <div class="page" id="page6"> <img src="/images/empire-compressed/Dossier_05.webp" alt="Page 6"></div>
    <div class="page" id="page7"> <img src="/images/empire-compressed/Dossier_06.webp" alt="Page 7"></div>
    <div class="page" id="page8"> <img src="/images/empire-compressed/Dossier_07.webp" alt="Page 8"></div>
    <div class="page" id="page9"> <img src="/images/empire-compressed/Dossier_08.webp" alt="Page 9"></div>
    <div class="page" id="page10"><img src="/images/empire-compressed/Dossier_09.webp" alt="Page 10"></div>
    <div class="page" id="page11"><img src="/images/empire-compressed/Dossier_10.webp" alt="Page 11"></div>
    <div class="page" id="page12"><img src="/images/empire-compressed/Dossier_11.webp" alt="Page 12"></div>
    <div class="page" id="page13"><img src="/images/empire-compressed/Dossier_12.webp" alt="Page 13"></div>
    <div class="page" id="page14"><img src="/images/empire-compressed/Dossier_13.webp" alt="Page 14"></div>
    <div class="page" id="page15"><img src="/images/empire-compressed/Dossier_14.webp" alt="Page 15"></div>
    <div class="page" id="page16"><img src="/images/empire-compressed/Dossier_15.webp" alt="Page 16"></div>
    <div class="page" id="page17"><img src="/images/empire-compressed/Dossier_16.webp" alt="Page 17"></div>
    <div class="page" id="page18"><img src="/images/empire-compressed/Dossier_17.webp" alt="Page 18"></div>
    <div class="page" id="page19"><img src="/images/empire-compressed/Dossier_18.webp" alt="Page 19"></div>
    <div class="page" id="page20"><img src="/images/empire-compressed/Dossier_19.webp" alt="Page 20"></div>
    <div class="page" id="page21"><img src="/images/empire-compressed/Dossier_20.webp" alt="Page 21"></div>
    <div class="page" id="page22"><img src="/images/empire-compressed/Dossier_21.webp" alt="Page 22"></div>
    <div class="page" id="page23"><img src="/images/empire-compressed/Dossier_22.webp" alt="Page 23"></div>
    <div class="page" id="page24"><img src="/images/empire-compressed/Dossier_23.webp" alt="Page 24"></div>
    <div class="page" id="page25" ><img src="/images/empire-compressed/Dossier_24.webp" alt="Page 25"></div>
</div>







<script>

let currentPage = 1;
const pages = document.querySelectorAll('.page');
const totalPages = pages.length;
let book = document.getElementById("book")


function updatePageVisibility() {
    pages.forEach((page, index) => {
        const pageNumber = index + 1;
        if (pageNumber> currentPage) {
            if (pageNumber === 24 || (pageNumber >= currentPage && pageNumber <= currentPage + 3)) {
                page.style.display = 'block';
            } else {
                page.style.display = 'none';
            }
        }
    });
}

document.getElementById('nextPage').addEventListener('click', () => {
    if (currentPage < totalPages) {
        turnPage(currentPage, currentPage + 1);
        currentPage++;
        updatePageVisibility();
    } else {
        for (let i=1; i<totalPages; i++) {
            setTimeout(() => {
                turnPage(currentPage, currentPage - 1);
                currentPage--;
                updatePageVisibility();
            }, i * 50);
        }
    }
});

document.getElementById('prevPage').addEventListener('click', () => {
    if (currentPage > 1) {
        turnPage(currentPage, currentPage - 1);
        currentPage--;
        updatePageVisibility();
    }
});

document.getElementById('unHideButton').addEventListener('click', () => {
    book.classList.toggle("hidden1")
});
document.getElementById('expand').addEventListener('click', () => {
    book.classList.toggle("expanded")
    book.style.transformOrigin = "top right"
});

function turnPage(from, to) {
    console.log("from:",from,"  to:",to)
    const current = document.getElementById(`page${from}`);
    const next = document.getElementById(`page${to}`);

    if(from < to) {
        let randX = Math.random()*-20 - 100
        let randR = Math.random()*30 - 15
        // current.classList.add('flipped');
        current.style.transform = `rotate(${randR}deg) translateX(${randX}%)`;
        setTimeout(function(){        
            current.style.opacity = 0;
        }, 200)
        setTimeout(function(){        
            current.style.display = "none";
            console.log(current.style.display)
        }, 500)
    } else {
        // next.classList.remove('flipped');
        next.style.display = "block";
        setTimeout(function(){        
            next.style.transform = "translateX(0vw) rotate(0deg)";
            next.style.opacity = 1;
        }, 50)

    }
    if(from > 22 && to > from) {
        document.getElementById("page25").classList.add("revealSecret")
    }
    if(from > 23) {
        document.getElementById("page25").classList.remove("revealSecret")
    }
}

// Set z-index values dynamically
pages.forEach((page, index) => {
    page.style.zIndex = 40-index;
});

// book.addEventListener('click', () => {
//     if (currentPage < totalPages) {
//         console.log("yes")
//         turnPage(currentPage, currentPage + 1);
//         currentPage++;
//     }
// });

updatePageVisibility();
</script>