---
layout: post
---

<img id="berg" src="images/info/Airwaves.jpg">

{{ content }}


<style>

#berg {
    max-width: 100%;
    max-height: 1200px;
    margin-bottom: 36px;
    /* min-height: 800px; */
    /* z-index: 50; */
}

</style>


<script>
let berg = {
    img: document.getElementById("berg"),
    start: 0,
    end: 3,
    right: 0.04,
    width: 23,
    heightS: .42,
    z: 55
};

let imgs = [berg]


function updatePositions() {
    if (window.innerWidth > 1200) {
        const viewportHeight = window.innerHeight;
        const scrollY = window.scrollY;
        console.log(scrollY)

        imgs.forEach(({ img, start, end, right, height, heightS, z, width }) => {
            const imgHeight = img.clientHeight;
            const imgStart = start * document.body.scrollHeight;
            const imgEnd = end * document.body.scrollHeight;
            let heightStop = height || 1
            let heightStart = heightS || 0

            // if (scrollY + viewportHeight >= imgStart && scrollY <= imgEnd) {
                let progress = ((scrollY - imgStart) / (imgEnd - imgStart))   + heightStart;
                if(heightStop<1){
                    // console.log("before",progress)
                    progress = Math.min(progress, heightStop)
                    // console.log(heightStop)
                }
                // const easedProgress = Math.min(easeInOutCubic(progress),1) * heightStop;
                let top = (viewportHeight+imgHeight) * ((1 - progress)) - imgHeight;
                console.log("imgHeight",imgHeight)
                console.log("viewportHeight",viewportHeight)
                console.log("progress",progress)
                

                // if (height) {
                //     const stopPosition = viewportHeight * height - imgHeight;
                //     if (top <= stopPosition) {
                //         top = stopPosition;
                //     }
                // }

                img.style.position = 'fixed';
                img.style.top = `${top}px`;
                console.log("top",top)
                img.style.right = `${right * 100}vw`;
                img.style.width = width+"vw"
                if(z) {img.style.zIndex = z}
            // } else {
            //     img.style.position = 'absolute';
            //     img.style.top = scrollY + viewportHeight >= imgStart ? `${imgEnd - imgHeight}px` : `${imgStart + viewportHeight}px`;
            // }
        });
    } else {
        imgs.forEach(({ img }) => {
            img.style.position = 'static';
            img.style.width = "100%"
        });
    
    }
}

function reload() {
    if (window.innerWidth > 1200) {
        window.removeEventListener('load', updatePositions)
        window.removeEventListener('scroll', updatePositions)
        window.addEventListener('load', updatePositions)
        window.addEventListener('scroll', updatePositions)
    }
}

// onload event listener, run reload function
// window.addEventListener('load', reload)

// Ensure image is fully loaded before calculating positions
berg.img.addEventListener('load', () => {
    updatePositions();
    reload();
});

// reload()
    
window.addEventListener('resize', () => {
    reload()
});

</script>